.brand {
  color: var(--cor0);
  font-weight: bold;
  margin-left: 1em;
}

.brand span {
  color: var(--cor3);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  background-color: #fff;
}

ul {
  display: flex;
  list-style: none;
  overflow: hidden;
}

li a {
  display: inline-block;
  font-weight: bold;
  color: var(--cor0);
  padding: 1.2em;
  transition: 0.4s;
  cursor: pointer;
}

li a:hover,
.dropdown:hover {
  background-color: var(--cor4);
  color: var(--cor0);
}

.active {
  background-color: var(--cor0);
  color: var(--cor4);
}

nav button {
  display: inline-block;
  border: none;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  color: var(--cor0);
  padding: 1.2em;
  transition: 0.4s;
  cursor: pointer;
}

nav button:hover {
  background-color: var(--danger);
  color: var(--cor4);
}

/* Dropdown Menu */

li.dropdown {
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 225px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  z-index: 1;
}

.dropdown_content a {
  display: block;
  padding: 1.2em;
  text-align: left;
}

.dropdown:hover .dropdown_content {
  display: block;
}
