nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10 px;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

.active {
    background-color: #333;
    color: #f3f3f3;
}
